:root {
    --blue: #007bff;
    --indigo: #0d0cb5;
    --purple: #7971ea;
    --pink: #e83e8c;
    --red: #f23a2e;
    --orange: #ef6c57;
    --yellow: #f89d13;
    --green: #8bc34a;
    --teal: #48d494;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #ee1e46;
    --secondary: #6c757d;
    --success: #8bc34a;
    --info: #17a2b8;
    --warning: #f89d13;
    --danger: #f23a2e;
    --light: #f8f9fa;
    --dark: #343a40;
}

/* Start New Team */

.new-team {
    position: relative;
}

.new-team .container {
    margin-top: 100px;
}

.new-team .container > p {
    color: #fff;
    margin: 30px 0;
    font-size: 20px;
    position: relative;
    margin-left: 20px;
}

.new-team .container > p::before {
    content: "";
    position: absolute;
    background-color: var(--primary);
    width: 10px;
    height: 20px;
    left: -20px;
}

.new-team .container .labels {
    background-color: var(--primary);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.new-team .container label {
    display: flex;
    align-items: center;
    color: #fff;
}

.new-team .container label input {
    margin-left: 20px;
    border-radius: 5px;
    background-color: var(--gray-dark);
    border: 1px solid var(--dark);
    padding: 10px;
    color: #fff;
}

.new-team .container label:nth-of-type(6) input {
    width: 90px;
}

.new-team .container label:last-of-type{
    width: fit-content;
}


.new-team .container label input::placeholder {
    color: #fff;
}

.new-team .submit {
    background-color: var(--primary);
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    display: block;
    border: 2px solid var(--primary);
    margin-top: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.new-team .submit:hover {
    background-color: transparent;
    border: 2px solid #fff;
}

/* End New Team */

/* Start Process Status */

.process-status {
    background-color: var(--primary);
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--gray-dark);
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(90deg);
    text-align: center;
    transition: 0.3s;
}

.process-status.active {
    transform: translate(-50%, -50%) rotateX(0deg);
}

.process-status p {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.process-status .T {
    color: #3db673;
}

.process-status .X {
    color: rgb(143, 6, 6);
}

.process-status button {
    background-color: var(--gray-dark);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px;
    border: 2px solid var(--gray-dark);
    transition: 0.3s;
    margin-top: 10px;
    cursor: pointer;
}

.process-status button:hover {
    background-color: transparent;
}

@media (max-width: 767px) {
    .process-status p {
        font-size: 20px;
    }
}

/* End Process Status */

/* Start Footer */

footer {
    margin-top: 100px;
    background-color: #1a1e25;
    padding: 100px 0;
}

footer .container .uls {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
}

footer .container .uls ul li:first-of-type {
    font-size: 16px;
    color: #fff;
}

footer .container .uls ul li {
    padding: 10px;
    color: #aaa;
    font-size: 14px;
}

footer .container p {
    display: block;
    text-align: center;
    margin: 100px auto 0;
    font-size: 15px;
    line-height: 1.5;
    color: #777;
}

footer .container p span {
    color: var(--primary);
}

@media (max-width: 767px) {
    footer .container .uls {
        display: flex;
        flex-direction: column;
    }
}

/* End Footer */

.dim-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    transform: translateY(-100%);
    transition: 0.3s;
}

.dim-overlay.dim {
    transform: translateY(0);
}

.highlighted {
    z-index: 1001;
}